body {
  background-color: #e6e6e6;
  font-family: Arial;
}
#main-container {
  padding: 10px;
  border: 1px solid gray;
  height: 800px;
  width: 600px;
  margin: auto;
  background-color: white;
  border-radius: 10px;
}
h1, h2, h3, h4, h5 {
  text-align: center;
}
.form-input {
  border: 1px solid gray;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 1px;
  height: 40px;
  font-size: 1em;
}
input:focus {
  outline: none;
  border: 1px solid black;
}
#form-button {
  left: -40px;
  top: -6px;
  float: left;
  position: relative;
  color: white;
  font-size: 1.3em;
  width: 400px;
  height: 70px;
  background-color: #353efc;
  border: none;
}
.form-container-box {
  background-color: white;
  margin: auto;
  border: 2px solid silver;
  width: 400px;
  height: 400px;
}
.form-container {
  align-content: center;
  position: relative;
  top: 30%;
  width: 320px;
  height: 320px;
  margin: auto;
}
.form-text {
  letter-spacing: 0.5px;
  text-align: center;
  font-size: 1.5em;
  color: gray;
}
.text-container {
  position: relative;
  top: 15%;
}
a:link, a:visited {
  color: #7FDBFF;
}
#text-container-signup {
  position: relative;
  top: 10%;
}
#form-container-signup {
  position: relative;
  top: 20%;
}
#form-container-box-signup {
  height: 475px;
}
.form-error-text {
  text-align: center;
  font-family: monospace;
}
.form-error-text-container {
  position: relative;
  top: 15%;
}
#form-error-text-container-login {
  position: relative;
  top: 20%;
}
h2 {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}
#form-button:hover {
  background-color: #6269fc;
  border: 1px solid white;
}
footer {
  position: absolute;
  top: bottom;
  left: 0px;
  width: 100vw;
  height: 2cm;
  background-color: #e6e6e6;
  border-top: 1.5px solid gray;
}
.input_icon_box {
  width: 40px;
  height: 40px;
  background-color: #e6e6e6;
}
img[src="../image/password_logo.png"] {
  margin-top: 17%;
  height: 60%;
  width: 60%;
}
img[src="../image/user_logo.png"] {
  margin-top: 17%;
  height: 60%;
  width: 60%;
}
img {
  filter: contrast(5%);
}
